.example-spacer {
  flex: 1 1 auto;
}

.header-ico {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/*
  ::ng-deep применяется для всех селекторов по всему проекту (глобально)
  ::ng-deep :host - позволяет применять стилия только для компонента в котором он обьявлен
  ::ng-deep используется если надо стилизовать какую-то сущность из сторонних библиотек
*/

/*::ng-deep h1 {*/

/*}*/
